
.clearfix::after{
    content: ""; /* default 무효화 */
    display: block;
    clear: both;
}

*{margin: 0; padding: 0;}

ul{
  list-style: none;
  width: 700px;
  /* height:200px; */
  /* 자식이 있는 부모는 왠만하면 height 사용하지 않는게 좋습니다 */
  background: red;
  /* overflow: hidden; */
}

ul > li {
   width: 200px;
   height: 200px;
}

ul > li:nth-child(1){
    background-color: green;
    float: left;
}

ul > li:nth-child(2){
    background-color: yellow;
    float: left;
}

ul > li:nth-child(3){
    background-color: blueviolet;
    float: right;
}