
*{margin: 0; padding: 0; box-sizing: border-box;}

/* 가상 선택자 = css파일에 만들어놓고 html파일에 집어 넣기. */
.cf:after{
    content: "";
    display: block;
    clear: both;
}

.box_warp{
    width: 700px;
    background-color: pink;
    /* overflow: hidden; */
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

}


/* 클래스명을 만들어두고 가져가 사용하는 응용법 */

.box{ 
    width: 200px;
    height: 200px;
    float: left;
    padding: 20px;
    /* box-sizing: border-box; */
    border-radius: 20px;
}

/* 태그 선택자를 사용시 친자식 표시를 하시기를 권장 ">"
.box_warp > div {
   width: 200px;
   height: 200px;
} */



/* box와 box1 클래스명을 동시에 가지고 있는 선택자 */
.box_warp .box1.box {
    background-color: tomato;
}

/* 클래스 선택자 box_wrap의 하위 요소에게 해당 명령어 사용 */
.box_warp .box2 {
    background-color: orange;
    margin: 0 50px;
}
.box_warp .box3 {
    background-color: yellow;
}

.box_warp .box > p:first-child {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}
